{% extends 'layout.html' %}

{% block body%}

  <div class="jumbotron text-center">
    <h2>{{session.username}}'s Dashboard</p></h2>
    <a class="btn btn-warning" href="/add_recipe">Add recipe</a>
   
    {% if not recipe_list %}
      <!-- if there are no recipes, display nothing on the dashboard -->
      
    {% else %}
      <!-- else display the recipes found in recipe_list -->
      <hr>
      <table class="table">
        <tr class="active">
          <th class="text-center">Title</th>
          <th class="text-center">Author</th>
          <th></th>
          <th></th>
        </tr>
        {% for recipe in recipe_list %}
          <tr>
            <td>{{recipe.Title}}</td>
            <td>{{recipe.Author}}</td>
            <td><a href="edit_recipe/{{recipe.Title}}" class="btn btn-default pull-right">Edit</a></td>
            <td>
              <form action="{{url_for('delete_recipe', title=recipe.Title)}}" method="POST">
                <input type="hidden" name="method" value="DELETE">
                <input type="submit" value="Delete" class="btn btn-danger">
              </form>
            </td>
          </tr>

        {% endfor %}
        
      </table>
    {% endif %}

  </div>


{% endblock %}