<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/css/main.css"> 
	<title>Yummy recipes</title>
   	 

</head>
	<body>
		<div class="container">
			<h1> Yummy recipes </h1>
			<h2> Changing the way you cook!</h2>
			<div class="personal-statement">
				<p> Are you tired of having to lookup that special recipe you had at a friend's luncheon?
				</p>
				<p> Or do you have a recipe to share that you absolutely know people are going to love? 
				Well, with Yummy recipes, you can...
				</p>
			</div>
			<div class="lists">
				<div class="list-box">
					<h3> Share recipes </h3>
					<ul>
						<li>Write your own</li>
						<li>Ask for one from a friend</li>
					<h3> <a href="signup"> Sign up </a> OR <a href="Login.html"> Login </a>
						
					</ul>
				
				<ul class="contact">
					<li>
						<a href="mailto:info@yummyrecipes.com" target="_blank" class="icon email"></a>
					</li>
					<li>
						<a href="https://twitter.com/yumrecipes" target="_blank" class="icon twitter"></a>
					</li>
					<li>
						<a href="https://facebook.com/YummyRecipes" target="_blank" class="icon facebook"></a>
					</li>
				</ul>				
			</div>
		</div>	
	</body>
</html>
