{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid">
  <div class="col-sm-8 col-sm-offset-4">
  	<div class="panel panel-success" style="max-width: 50%">
			<div class="panel-heading"><h3>Sign up now!</h3></div>
        <div class="panel-body">
          <!-- The form to take user registration info is defined here -->
          
          {% from '/includes/_formhelpers.html' import render_field %}
          <form action="{{ url_for('signup') }}" method="POST">
            <div class="form-group">
              {{ render_field(form.uname, class='form-control')}}
            </div>
            <div class="form-group">									
              {{ render_field(form.password, class='form-control')}}
            </div>
            <div class="form-group">									
              {{ render_field(form.password_rep, class='form-control')}}
            </div>
            <div class="checkbox">
              <label>
               <input type="checkbox">Remember me
              </label>
              <p><a href="#">Terms & Privacy Policy</a>.</p>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>        
{% endblock %}