<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" >
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href= {{ url_for('static', filename='css/bootstrap.min.css') }}>
		<title>Yummy recipes</title>	 

	</head>
	<body style="background-image: url(../static/img/oxtail.jpg)">
		<div class="container-fluid">
			<div class="inner cover">
				<h1 class="text-center text-primary">  YUMMY RECIPES </h1>
				</hr>
				<h2 class="text-center text-success">Changing the way you cook!</h2>
				<h3 class="text-center text-success"><p>Do you have a recipe to share that you absolutely know people are going to love?
			</div>
		</div>
		<div class="container-fluid">
			<div class="row ">

				<div class="col-md-6">
					<div class="panel panel-success">
						<div class="panel-heading"><h3>Sign up success!!</h3></div>
						<div class="panel-body">
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
